
:root,
  ::backdrop {
    color-scheme: dark;
    --bg:  #144511;
    --accent-bg: #144511;
    --text: white;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #144511;

  }
/* h1 properties */
a.h1 {
  font-size: xx-large;
  text-align: left;
  color: white;
  
}
a.h1:hover {
  color:#ffb300;
  transform: scale(1.15);
}


.active logo {
      max-width: 200px;
}
.active img:hover {
   transform: scale(1.1);
}

/* Main prperties */
main {
    --bg: #144511;
    --text: white;
    font-family: "Rosario", sans-serif;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    text-decoration: none;
}
main {
  background-color: #144511;
}

/* body background color */
body {
  background-color: #144511;
}


/* button */
.btn {
  --text: white;
  font-family: "Rosario", sans-serif;
  font-weight: 800;
  font-style: var(--text-light);
  text-align: center;
  text-decoration: none;
}


/* Header Styles */

.page-links {
  display: none;
}

.topnav {
  overflow: hidden;
 
}

.topnav.responsive .page-links {
  background: #02175b;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 52px;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  /* height: 100vh; */
  justify-content: flex-start;
}

.topnav a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.5s ease;
}

.topnav a:hover,
.topnav a:focus {
  color: #FFC300;
  text-decoration: underline;
}

.topnav a:focus {
  outline: 3px solid #FFC300;
}

.topnav a.active {
  background-color: #aa04aa84;
}


header {
  font-family: "Slackey", sans-serif;
  background: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
  width: 94vw;
  justify-content: space-between;
}


/* Home Page text on image */

/* Image Restraints Home Page */
.container{
  max-height: 70vh;
}

.container img {
  max-width: 518px;
}

/* color of text home */
  .centered {
    color: white 
  }


 


/* Container holding image and text */
    .container {
      position: relative;
      text-align: center;
      color: white;
      max-width: 75vw;
      align-content: center;
    }

    /* Bottom left text */
    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
    }

    /* Top left text */
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
    }

    /* Top right text */
    .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
    }

    /* Bottom right text */
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
    }

    /* Centered homw page text */
   
    .centered{
      position: absolute;
      top:  50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(24px, 10vw, 75px);
      color:#203911
    }
    .centered:hover {
      color: #353534;
      text-decoration: underline;
    }

/* home page text on image */

.flex-center {
  display: flex;
    flex-direction: column;
    align-items: center;
}


/* text boxes on Places Page*/

  
 
  
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fffefe;
  color: rgb(5, 59, 16);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  color: #232222;
  text-decoration: underline;
}

/* Margin for text boxes (my entry page) */
  margin-adjust {
    margin-bottom: 60px;



/* New Entry  */



/* camera centered */
}
.camera {
  padding-top: 20px;
  align-items: center;
}
.camera:hover{
   transform: scale(1.15);
}







/* Footer*/


footer {
  --bg: #144511;
  --text: white;
  font-family: "Rosario", sans-serif;
  font-weight: 800;
  font-style: normal;
  align-items: center;
}
footer {
  background-color: #144511;
}
div.footer-buttons{
text-align: center;
}
div {
  padding: 5px;
}
div.footer-buttons:hover {
  color:#FFC300

}
/* footer logo */
img {
  max-width: 100px;

}
a.footerlogo img:hover {
   transform: scale(1.15);

}



/* text boxes on Places Page*/

/* media queries */


/*min width for large nav  */
@media (min-width: 580px) {
  .topnav .icon {
      display: none;
  }

  .page-links {
      display: none;
      background: transparent;
      display: flex;
      flex-direction: row;
      position: relative;
      width: auto;
      align-items: flex-start;
      gap: 10px;
      padding: 0;
      justify-content: flex-start;
  }
}